:root {
    --dark-color: rgb(49, 49, 49);
    --medium-color: rgb(65, 65, 65);
    --light-color: rgb(82, 82, 82);
    --light-accent-color: rgb(144, 224, 239);
    --medium-accent-color: rgb(0, 180, 216);
    --dark-accent-color: rgb(3, 4, 94);
    --light-text-color: rgb(240, 255, 255);
    --dark-text-color: rgb(0, 15, 15);
}

* {
    font-family: Andalé , monospace;
    color: var(--light-text-color);
    background-color: var(--medium-color);
    border-color: azure;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    margin: 0;
    padding: 10px;
    background-color: var(--dark-color);
    color: var(--light-text-color);
}

.navbar-title {
    font-weight: bold;
    text-decoration: none;
    font-size: 2rem;
    color: var(--light-text-color);
    background-color: var(--dark-color);
}

button {
    min-width: 40px;
    padding: 5px;
    margin-left: 2px;
    margin-right: 2px;
    border: none;
    border-radius: 5px;
    background-color: var(--medium-accent-color);
}

.btn-danger {
    background-color: var(--dark-accent-color);
}

button:hover {
    box-shadow: 1px 1px 4px black;
    cursor: pointer;
}

button:active {
    opacity: 70%;
}