:root {
    --dark-color: rgb(45,45,45);
    --medium-color: rgb(32, 33, 36);
    --light-color: rgb(65, 68, 75);
    --light-accent-color: rgb(199, 199, 199);
    --medium-accent-color: rgb(143, 143, 143);
    --dark-accent-color: rgb(58, 58, 58);
    --light-text-color: rgb(240, 255, 255);
    --dark-text-color: rgb(0, 15, 15);
}

* {
    font-family: Calibri, sans-serif;
    color: var(--light-text-color);
    background-color: var(--medium-color);
    border-color: azure;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;


}

.navbar {
    margin: 0;
    padding: 10px;
    background-color: var(--dark-color);
    color: var(--light-text-color);
}

.navbar-title {
    font-weight: bold;
    text-decoration: none;
    font-size: 1.25rem;
    color: var(--light-text-color);
    background-color: var(--dark-color);
}

.signature * {
    padding: 5px;
    width: 100%;
    text-align: center;
    color: var(--light-text-color);
    background-color: var(--dark-color);
    justify-self: end;
}


button {
    min-width: 90px;
    padding: 5px;
    margin-left: 2px;
    margin-right: 2px;
    border: none;
    border-radius: 5px;
    background-color: var(--medium-accent-color);
}

.btn-danger {
    background-color: rgb(200,77,67);
}

button:hover {
    box-shadow: 1px 1px 4px black;
    cursor: pointer;
}

button:active {
    opacity: 70%;
}