.h2 {
  text-align: center;
}

.btnCreate {
  width: 40px;
  height: 40px;
  font-size: 2rem;
  font-weight: bolder;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: grid;
  box-shadow:  0 4px 8px 0 rgba(0,0,0);
}

.container {
  padding: 2px 16px;
}